<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [161]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [162]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [163]:
df.head()
#df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- **45530 женщин и 24470 мужчин**
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [164]:
# Ваш код здесь
#df['gender'].value_counts()
if df[df['gender']== 1]['height'].mean() > df[df['gender']== 2]['height'].mean():
    print("gender 1 - мужчины, 2 - женщины")
else:
    print("gender 1 - женщины, 2 - мужчины")
print(df['gender'].value_counts())

gender 1 - женщины, 2 - мужчины
1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- **мужчины**

In [165]:
# Ваш код здесь
#float((df[df['gender'] == 2]['alco'] == 1).sum()) / df.shape[0]
print("мужчины, указавшие, что пьют алкоголь: {}".format(100*df[df['gender'] == 2]['alco'].value_counts()[1]/24470))
print("женщины, указавшие, что пьют алкоголь: {}".format(100*df[df['gender'] == 1]['alco'].value_counts()[1]/45530))
#df[df['gender'] == 1]['alco'].value_counts()

мужчины, указавшие, что пьют алкоголь: 10.637515324887618
женщины, указавшие, что пьют алкоголь: 2.549967054689216

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- **12**
- 16

In [166]:
# Ваш код здесь
m_smoke = df[df['gender'] == 2]['smoke'].value_counts()[1]/24470
w_smoke = df[df['gender'] == 1]['smoke'].value_counts()[1]/45530
print("курящие мужчины: {}".format(m_smoke))
print("курящие женщины: {}".format(w_smoke))
print(m_smoke/w_smoke)

курящие мужчины: 0.21888026154474868
курящие женщины: 0.017856358444981332
12.2578330973

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- **20**

In [167]:
# Ваш код здесь
smoke_age = df[df['smoke'] == 1]['age'].median()*12/365
no_smoke_age = df[df['smoke'] == 0]['age'].median()*12/365
smoke_age - no_smoke_age

-19.627397260273938

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- **4**
- 5

In [168]:
# Ваш код здесь
df['age_years'] = round(df['age']/365)
#df.head()
people = df[(df['age_years']  >= 60.0) & (df['age_years'] <= 64.0)]
p_47 = people[(people['cholesterol'] == 3) & (people['ap_hi'] < 180) & (people['ap_hi'] >= 160)]
p_9 = people[(people['cholesterol'] == 1) & (people['ap_hi'] < 120)]
#len(p_47)
len(p_9)/len(p_47)
#p_47_c = p_47_ch[p_47_ch['ap_lo'] >=160]
#ap_hi, ap_lo   & (people['ap_lo']>= 160) & (people['ap_hi'] < 180)
#p_47_c

4.301324503311259

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- **У женщин в среднем BMI выше, чем у мужчин**
- У здоровых в среднем BMI выше, чем у больных
- **В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин**

In [169]:
# Ваш код здесь
df['BMI'] = round(df['weight']/((df['height']/100)**2))
# - Рост (height)
# - Вес (weight)
print("1 - медиана по выборке: {}".format(df['BMI'].median()))
#26 - не норма
#bmi_w = df[df['gender']==1]['BMI'].mean()
#bmi_m = df[df['gender']==2]['BMI'].mean()
print("2 - Среднее женщин: {}".format(df[df['gender']==1]['BMI'].mean()))
print("2 - Среднее мужчин: {}".format(df[df['gender']==2]['BMI'].mean()))

#3
#zdorovi = df[df['cardio']==0]['BMI'].mean()
print("3 - Среднее здоровых: {}".format(df[df['cardio']==0]['BMI'].mean()))
print("3 - Среднее больных: {}".format(df[df['cardio']==1]['BMI'].mean()))

#4
m_z_noalco = df[(df['gender'] == 2) & (df['cardio']==0) & (df['alco']==0)]
print("4 - Среднее здоровых и непьющих мужчин: {}".format(df[(df['gender'] == 2) & (df['cardio']==0) & (df['alco']==0)]['BMI'].mean()))
print("4 - Среднее здоровых и непьющих женщин: {}".format(df[(df['gender'] == 1) & (df['cardio']==0) & (df['alco']==0)]['BMI'].mean()))

1 - медиана по выборке: 26.0
2 - Среднее женщин: 27.980430485394244
2 - Среднее мужчин: 26.74593379648549
3 - Среднее здоровых: 26.541560777819022
3 - Среднее больных: 28.557420166385544
4 - Среднее здоровых и непьющих мужчин: 25.864253814663194
4 - Среднее здоровых и непьющих женщин: 26.840318825004477

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- **8**
- 9
- 10
- 11

In [179]:
# Ваш код здесь
n_df1= len(df) # 70000 
# избавляемся от созданных только что столбцов
# df = df.drop(['Total charge', 'Total calls'], axis=1) 
# df.drop([1, 2]).head() # а вот так можно удалить строчки
#drop_1 = df[df['ap_lo'] > df['ap_hi']]
#ap_hi, ap_lo
#df.describe()
#df.describe()

#drop_1 = df[df['ap_lo'] > df['ap_hi']]
#drop_1 #1234 rows × 14 columns
#df.drop(drop_1).head()
#df.describe()
#1 
#1 df = df[df['ap_lo'] <= df['ap_hi']]
#1 df.describe()
# 68764 
#2 
#s.quantile([.25, .5, .75])
kv_25 = df['height'].quantile([0.025, 0.975])
kv_25 # 150 180
#kv_975 = 
#kv_rost = df = df[df['height'] >  ]
kv_rost = df[(df['height'] > 150) & (df['height']<180)]
#kv_rost
#63973

#3 
kv_w_25 = kv_rost['weight'].quantile([0.025, 0.975])
#kv_w_25 # 52 106
kv_rost_w = df[(df['weight'] > 52) & (df['weight']<106)]
kv_rost_w # 64525

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,22.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,35.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,24.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,29.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60.0,29.0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61.0,38.0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62.0,30.0
13,17668,1,158,71.0,110,70,1,1,0,0,1,0,48.0,28.0
14,19834,1,164,68.0,110,60,1,1,0,0,0,0,54.0,25.0
15,22530,1,169,80.0,120,80,1,1,0,0,1,0,62.0,28.0
16,18815,2,173,60.0,120,80,1,1,0,0,1,0,52.0,20.0
18,14791,2,165,60.0,120,80,1,1,0,0,0,0,41.0,22.0
21,19809,1,158,78.0,110,70,1,1,0,0,1,0,54.0,31.0
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,40.0,29.0
25,21296,1,170,75.0,130,70,1,1,0,0,0,0,58.0,26.0
28,17482,1,154,68.0,100,70,1,1,0,0,0,0,48.0,29.0
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0,21.0
30,19778,2,163,83.0,120,80,1,1,0,0,1,0,54.0,31.0
31,21413,1,157,69.0,130,80,1,1,0,0,1,0,59.0,28.0
32,23046,1,158,90.0,145,85,2,2,0,0,1,1,63.0,36.0
35,16608,1,170,68.0,150,90,3,1,0,0,1,1,46.0,24.0
36,14453,1,153,65.0,130,100,2,1,0,0,1,0,40.0,28.0
37,19559,1,156,59.0,130,90,1,1,0,0,1,0,54.0,24.0
38,18085,1,159,78.0,120,80,1,1,0,0,1,0,50.0,31.0
39,14574,2,166,66.0,120,80,1,1,0,0,1,0,40.0,24.0
40,21057,2,169,74.0,130,70,1,3,0,0,0,0,58.0,26.0
42,18291,1,155,105.0,120,80,3,1,0,0,1,1,50.0,44.0
43,23186,1,169,71.0,140,90,3,1,0,0,1,1,64.0,25.0
44,14605,1,159,60.0,110,70,1,1,0,0,1,0,40.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99954,20327,1,156,67.0,140,80,2,1,0,0,0,0,56.0,28.0
99956,16093,2,157,61.0,110,90,1,1,0,0,1,0,44.0,25.0
99957,20529,2,175,78.0,120,80,1,1,0,0,0,0,56.0,25.0
99958,22572,2,173,103.0,140,80,3,1,1,1,0,1,62.0,34.0
99959,20136,2,177,80.0,130,80,1,1,0,0,1,0,55.0,26.0
99960,17065,1,165,76.0,140,90,1,1,0,0,1,1,47.0,28.0
99961,22142,2,175,72.0,130,80,1,1,0,0,1,0,61.0,24.0
99962,18226,1,168,75.0,120,80,1,1,0,0,1,0,50.0,27.0
99963,21264,2,182,100.0,120,80,1,1,0,0,1,1,58.0,30.0
99964,21699,1,163,65.0,120,80,2,2,0,0,1,0,59.0,24.0
99965,16843,1,168,75.0,120,79,1,1,0,0,1,0,46.0,27.0
99967,18800,1,163,78.0,90,60,1,1,0,0,1,1,52.0,29.0
99969,22423,1,163,74.0,160,100,2,2,0,0,1,1,61.0,28.0
99971,17727,2,167,69.0,110,80,1,1,0,1,0,0,49.0,25.0
99973,18941,1,153,86.0,130,90,1,2,0,0,1,1,52.0,37.0
99974,19652,1,165,72.0,120,80,1,1,0,0,1,0,54.0,26.0
99975,17926,2,168,80.0,120,80,1,1,0,0,1,1,49.0,28.0
99977,18194,1,156,102.0,130,80,1,1,0,1,0,1,50.0,42.0
99978,18198,2,180,78.0,120,80,1,1,0,0,1,0,50.0,24.0
99981,21978,1,160,59.0,110,70,1,1,0,0,1,0,60.0,23.0
99985,21013,1,157,83.0,120,70,1,1,0,0,1,1,58.0,34.0
99986,15094,1,168,72.0,110,70,1,1,0,0,1,1,41.0,26.0
99988,20609,1,159,72.0,130,90,2,2,0,0,1,0,56.0,28.0
99990,18792,1,161,56.0,170,90,1,1,0,0,1,1,51.0,22.0
99991,19699,1,172,70.0,130,90,1,1,0,0,1,1,54.0,24.0
99992,21074,1,165,80.0,150,80,1,1,0,0,1,1,58.0,29.0
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,53.0,27.0
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.0,31.0
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.0,27.0
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.0,25.0