In [100]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [101]:
train = pd.read_csv('train.txt', sep="\t")
test = pd.read_csv('test.txt', sep="\t")
base1 = pd.read_csv('Base1.txt', sep="\t")

In [102]:
# trainBase1 це будуть дані з base1 для юзерів з тренувальнї вибірки

trainBase1 = pd.DataFrame()

for n in train['ID'].values:
    trainBase1 = trainBase1.append(base1[base1['ID'] == n], ignore_index = True)

# пропущені значення заповнимо медіанними
for n in trainBase1:
    trainBase1[n].fillna(trainBase1[n].median(), inplace=True)
    
# згрупуємо всі дані про одного юзера, використовуючи середнє значення 
#!!!!!!!trainBase1_cut_id = trainBase1.groupby(['ID']).mean().reset_index()
trainBase1_df = trainBase1.groupby(['ID']).mean().reset_index()
# посортуємо дані тренувальної вибірки результатів
#!!!!!!trainSort = train.sort_values(['ID']).reset_index()
train_df = train.sort_values(['ID']).reset_index()

# зробимо те ж саме для тестової вибірки

testBase1 = pd.DataFrame()

for n in test['ID'].values:
    testBase1 = testBase1.append(base1[base1['ID'] == n], ignore_index = True)
    
for n in testBase1:
    testBase1[n].fillna(testBase1[n].median(), inplace=True)
    
#!!!!!!testBase1_cut_id = testBase1.groupby(['ID']).mean().reset_index()
testBase1_df = testBase1.groupby(['ID']).mean().reset_index()

#!!!!!!testSort = test.sort_values(['ID']).reset_index()
test_df = test.sort_values(['ID']).reset_index()

In [103]:
# далі побудуємо просте дерево рішень для класифікації користувачів
features = trainBase1_df
y = train_df['TARGET']

features_train, features_test, y_train, y_test = train_test_split(features,y,test_size=0.35)

In [104]:
tree = DecisionTreeClassifier()
tree.fit(features_train,y_train)
y_pred_tree = tree.predict(features_test)

In [110]:
print("Accuracy",accuracy_score(y_test,y_pred_tree))

Accuracy 0.36221916552

In [111]:
test_predlist = []

for n in test_df['ID']:
    x = testBase1_df[testBase1_df['ID']==n]
    test_predlist.append(tree.predict(x))

In [112]:
test_df['TARGET'] = test_predlist
test_df['TARGET'] = test_df['TARGET'].astype('int64')

In [113]:
test_df

      index    ID  TARGET
0      2898     7       3
1      1130    11       0
2      2393    12       2
3       300    15       2
4       138    16       1
5       167    17       3
6      1348    18       1
7       188    20       2
8      2742    22       3
9      2501    24       2
10       82    25       2
11     1280    30       3
12     2746    31       3
13     2319    35       2
14     2915    39       1
15     2197    41       2
16     1992    48       3
17     2120    51       2
18     1303    53       2
19      689    54       1
20     1377    55       2
21     2346    57       1
22     1134    60       0
23     1781    62       1
24     1665    64       2
25      958    68       1
26      326    71       1
27      763    75       2
28     2706    80       2
29     1819    89       2
...     ...   ...     ...
3008   2128  9168       1
3009   1257  9170       2
3010    663  9173       0
3011    392  9177       2
3012   1423  9178       2
3013   1601  9184       3
3014   2753  9186       1
3015    296  9187       2
3016   2416  9191       1
3017   1693  9195       1
3018   1100  9196       1
3019   2145  9201       2
3020    397  9204       2
3021   1213  9206       1
3022   2631  9215       3
3023   1138  9216       3
3024   1896  9227       0
3025    819  9230       0
3026   1271  9232       1
3027   2264  9235       1
3028    190  9236       0
3029   1090  9243       1
3030     97  9244       1
3031    734  9250       2
3032   2763  9251       1
3033   1707  9254       2
3034    111  9257       1
3035   1809  9259       1
3036   1362  9261       2
3037    624  9267       0

[3038 rows x 3 columns]

In [114]:
# запис у файл
test_df[['ID','TARGET']].to_csv(r'PrysiazhnaLiudmyla_test.txt',index=None,sep='\t')